.addCard_popup_container{
    min-height: 300px;
}
.addCard_popup_container.active{
}


.addCard_popup_container .description_field textarea{
height: 150px !important;
}
.addCard_popup_container .field_input{
    padding: 10px 0;
}
.addCard_popup_container .field_input input,
.addCard_popup_container .field_input textarea{
    width: 100%;
    height: 100%;
    font-size: var(--medium-font-size);
    font-weight: 500;
}
.addCard_popup_container  button{
    padding: 10px;
    margin-top: 10px;
}