.card_holder {
    min-height: 100vh;
}

.card {
    background-color: var(--color-primary);
    /* margin: 0 15px 0 0; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    align-self: flex-start;
    position: relative;
}

.card .title {
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding-bottom: 8px;
    display: flex;
}

.cardItem {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    justify-content: space-between;
    margin: 8px 0;
    box-shadow: 1px 1px 5px #80808080;
    cursor: pointer;
    transition: all .2s ease;
}

.cardItem:hover {
    background-color: #f5f5f5;
}

.cardItem>p {
    align-self: center;
}

.cardItem .close_btn {
    cursor: pointer;
    display: flex;
    width: 30px;
    justify-content: center;
    font-weight: 900;
    font-size: var(--normal-font-size);
    align-self: flex-start;
    border: 2px solid transparent;
}

.cardItem .title_holder {
    display: flex;
    justify-content: space-between;
}

.cardItem .title_holder p {
    line-break: anywhere;
}

.cardItem .description_holder {
    display: flex;
    background: var(--color-cream);
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-radius: 4px;
}

.cardItem_holder .close_btn:hover {
    border-color: var(--color-primary);
}


.add_cardBtn {
    padding-top: 10px;
}

.add_cardBtn button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    border-radius: 5px;
}

.add_cardBtn button:hover {
    background-color: #091e4214;
}

.add_cardBtn button i {
    font-size: 16px;
    padding-right: 8px;
}

.card_dummy.active {
    display: flex;
}

.card_dummy {
    display: none;
    background-color: #f5f5f5;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    justify-content: space-between;
    margin: 8px 0;
    box-shadow: 1px 1px 5px #80808080;
    cursor: pointer;
    transition: all .2s ease;
    height: 34px;
}