.loginPage_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100%;
    height: 100vh;
}

.loginPage_container .form_elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage_container .form_elements .welcomeTxt {
    text-transform: uppercase;
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: #22222285;
    letter-spacing: 4px;
}

.loginPage_container .form_elements .page_content {
    font-size: var(--normal-font-size);
    color: #22222285;
    font-weight: 500;
    width: 400px;
    text-align: center;
    margin: 20px 0;
}

.loginPage_container .form_elements .signUp_now {
    padding: 15px;
    font-size: var(--normal-font-size);
    color: #22222285;
    font-weight: 500;
}


.loginPage_container .form_elements .signUp_now a {
    color: var(--color-secondary);
    cursor: pointer;
}

.loginPage_container .form_elements .field_input {
    position: relative;
    width: 300px;
    margin: 8px 0;
}

.loginPage_container .form_elements .field_input i {
    position: absolute;
    top: 50%;
    color: #22222285;
    left: 10px;
    transform: translateY(-50%);
}

.loginPage_container .form_elements .field_input input {
    width: 100%;
    padding-left: 35px;
    border-radius: 8px;
}

.loginPage_container .form_elements .field_input button {
    width: 100%;
}

.password-tooltip {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}