/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

@font-face {
  font-family: roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

:root {

  /* Color */
  /* --color-primary: white; */
  --color-primary: white;
  --color-secondary: #c81022;
  --color-cream: #f3fcf9;

  --text-color: #00ffa5;
  /* Size */

  --extralarge-font-size: 30px;
  --large-font-size: 22px;
  --normal-font-size: 17px;
  --smaller-font-size: .5rem;

}

body {
  /* background-image: url(assets/images/bg.jpg); */
  background-color: var(--color-cream);

  background-size: cover;
  overflow: hidden;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.btn {
  border: 1px solid transparent;
  outline: none;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: all .2s ease;
  font-weight: 500;
}


.btn.btn1 {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn.btn1:hover {
  border-color: var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn.btn2 {
  background-color: #ebecf0;
}

.btn.btn2:hover {
  background-color: white;
}

input, select, textarea {
  border: none;
  outline: none;
  padding: 10px 5px;
  border-radius: 4px;
  background: var(--color-primary);
  box-shadow: 0 0 2px #d5d5d5;
  border: 2px solid #bbbbbb;
}